/* reset */

ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

/* state */

.is-hidden {
  display: none;
}

/* layout */

#main-screen {
  margin: 0;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  overflow: hidden;
}

#main-screen.awesomescreen #awesomescreen,
#main-screen.crashscreen #crashscreen,
#main-screen.frames #frames {
  display: block;
}

#frames, #awesomescreen, #crashscreen {
  width: 100%;
  position: absolute;
  top: 5rem;
  bottom: 0;
  background: white;
  display: none;
}

#awesomescreen, #crashscreen {
  font-size: 1.7rem;
}

#tabs-view.tab-list {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}