#tabs-view.tab-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-around;
  background: black;
  opacity: 0.9;
}
.tab-list .tab-item {
  display: inline-block;
  width: 30rem;
  height: 30rem;
  font-size: 2rem;
  color: white;
}
.tab-list .tab-item a, .tab-list .tab-item .new-tab {
  display: block;
  width: 25rem;
  height: 25rem;
  background-color: rgba(255, 255, 255, 0.3);
  background-size: cover;
}


#new-tab-button {
  background: url('images/iconaction_new_30x30.png') center center no-repeat,
              url('images/header-divider.png') left center no-repeat;
  background-size: 3rem auto, auto;
  float: right;
  height: 5rem;
}

#new-tab-button:active {
  background: url('images/iconaction_new_30x30.png') center center no-repeat,
              url('images/header-divider.png') left center no-repeat,
              url('images/icon-pressed-bg.png') 100% no-repeat;
  background-size: 3rem auto, auto, auto;
}